/* *
*    Author: Lander Verstappen 
*    This file is part of Fpnp-PHP.
*
*    Fpnp-PHP is free software: you can redistribute it and/or modify
*    it under the terms of the GNU General Public License as published by
*    the Free Software Foundation, either version 3 of the License, or
*    (at your option) any later version.
*
*    Fpnp-PHP is distributed in the hope that it will be useful,
*    but WITHOUT ANY WARRANTY; without even the implied warranty of
*    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*    GNU General Public License for more details.
*
*    You should have received a copy of the GNU General Public License
*    along with Fpnp-PHP.  If not, see <http://www.gnu.org/licenses/>.
*
* */
body {
    padding:0px;
    margin:0px;
    font-family: monospace;
    text-align: center;
}

body input{
    font-family: monospace;
}

body input:hover{
    background-color:#b6b6b6;
}

body select{
    font-family: monospace;
}

/**MenuBar**/
.MenuBar {
    position:relative;
    width:100%;
    text-align: center;
    border-bottom: thin solid #bbb;
    z-index:10;
}

.MenuBar ul {
    list-style: none;
    position:relative;
    float: left;
    margin: 0;
}

.MenuBar ul a{
    display:block;
    color:#333;
    text-decoration:none;
    font-weight:700;
    font-size:12px;
    line-height:32px;
}

.MenuBar ul li{
    position:relative;
    float:left;
    width:10em;
}

.MenuBar ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left:0;
    padding:0;
}

.MenuBar li input {
    display: block;
    color: #333;
    background-color:#ffffff;
    text-align: center;
    width:10em;
    border:0;
}

.MenuBar li input:hover {
    background-color: #f3f3f3;
}
.MenuBar li:hover{
    background-color: #f3f3f3;
}

.MenuBar ul li:hover >ul{
    display:block;
}

h1{
    clear:both;
    font-family:monospace;
    text-align:center;
    font-size:large;
    background-color: #f3f3f3;
    margin:0;
}

h2{
    font-size:large;
    text-align:center;
    margin:0;
    padding:0;
}
hr{
    margin:0;
    padding:0;
}
/** CharacterSheet**/
.CharacterSheet {
    position:relative;
    float:left;
    border:1px solid gray;
    text-align:center;
    margin:2px;
    margin-bottom:0px;
}

.CharacterSheet td{
    border-right:1px dotted gray;
    border-bottom:1px dotted gray;
    border-collapse:collapse;
    text-align:center;
    padding:1px;
}
.CharacterSheet input[type=number]{
    -webkit-appearance: listitem;
    -moz-appearance: listitem;
    width:25px;
    text-align:center;
}

.CharacterSheet table.personal_info{
    float:left;
}
.InventoryRow{
    font-size:small;
}
.InventoryRow input{
    padding:0;
}
.CharacterSheet table.equipped {
    background:url('./img/vaultboy.png');
    background-size:cover;
    float:left;
    min-width:20%;
    max-width:20%;
    margin:2px;
    font-size:small;
}
.CharacterSheet table.equipped  td{
}
.CharacterSheet table.special{
    clear:left;
}
.CharacterSheet table.special td{
    width:4em;
}
.CharacterSheet .equipped td {
    border:none;
    max-width:3em;
}

.CharacterSheet .skills{
    float:left;
}

.CharacterSheet table.skills td{
    padding-left:0.2em;
    padding-right:0.25em;
}
.CharacterSheet .EmptyTableCell {
    border:none;
}
.CharacterSheet table.pickup_table{
}
.CharacterSheet table.gameactions_table{
    float:left;
}
.Say{
     text-align:center;
     position:absolute;
     right:1em;
     top: 0.12em;
     font-size:small;
}

.Overlay{
     visibility: hidden;
     position: absolute;
     top:0; right:0; left:0; bottom:0;
     background-color:gray;
     text-align:center;
     z-index: 10;
     opacity:0.9;
}
.Overlay table{
    border:5px dashed grey; 
    margin:25%;
    background-color:white;
}
.Overlay tr td{
    border:none;
}
.Overlay table.equipped{
    border:none;
    margin:0;
}
.Overlay .OverlayTable {
    border:none;
    border-bottom:1px dotted grey;
    margin:0;
}
.attackTargeted{
    display: none;
}
/**NPC**/
.npcPersonalInfo{
max-width:50%;
}
td.npcdescription{
display:none;
}
#barterCapsExchange{
 width:5em;
}
