<!--
    Author: Lander Verstappen 
    This file is part of Fpnp-PHP.

    Fpnp-PHP is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Fpnp-PHP is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Fpnp-PHP.  If not, see <http://www.gnu.org/licenses/>.
-->
</div>
</body>
</html>
